<section class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
        
          <div class="contact-number">
            {% if setings.phoneNumber ==blank %}
            <i class="fa fa-phone" style="visibility: visible;"></i>
                <span>{{ settings.phoneNumber | escape }}</span>
            {% else %}
            <i class="fa fa-phone" style="visibility: hidden;"></i>
            {% endif %}
          </div>
          
        </div>

        <div class="col-md-4 col-xs-12 col-sm-4">
          <!-- Site Logo -->
          <div class="logo text-center">
            <a href="/">
              <!-- replace logo here -->
              <svg width="205px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40" font-family="AustinBold, Austin" font-weight="bold">
                  <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                    {% if settings.textlogo ==blank %}
                    <a class="navbar-brand" href="/"><img src="{{ settings.sitelogo | img_url}}" class="logosize" alt=""></a>
                    {% else %}
                    
                     <text id="fashion">
                        <tspan x="108.94" y="325">{{ settings.textlogo | escape }}</tspan>
                      </text>
                    {% endif %}
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
          <ul class="top-menu list-inline float-right">
            <li class="list-inline-item"><a href="cart.html"><i class="fa fa-shopping-cart"></i>Cart</a></li>
            <li class="list-inline-item"><a href="login.html"><i class="fa fa-sign-in"></i>Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% include 'header-menu' %}
  <style>
    .logosize{
        display:block;
        width: {{settings.logoSize }}px;
    }
  </style>